.search-bar{
  padding:8px 30px 8px 8px;
    border-style: solid;
  font-size: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  border-radius: 6px;
  border-width: 0.1pt;
border-color: lightgray;



}


.Google-search{
 margin-top: 7px;
 margin-bottom: 9px;
  padding:10px 300px 10px 12px;
    border-style: solid;
  font-size: 12px;
  margin-bottom: 4px;
  font-size: 12px;
  border-radius: 18px;
  border-width: 0.1pt;
border-color: lightgray;



  
}


.Google-search:hover{
  cursor: pointer;
}

h5{
  color: gray;
  font-family: arial;
  margin-bottom: 6px;
  
}


.linkdin-email{
  margin-top: 0;
  padding-top: 8px;
  padding-right:  80px  ;
  padding-left: 80px;
  padding-bottom: 8px;
  border-radius: 6px;
  border-width: 1.3px;
  border-color: black;

}
.linkdin-button{
  color: white;
  background-color: rgb(10, 102, 194);
font-size: 18px;
padding: 8px 80px;
border-radius: 40px;
border-style: solid;
border-width: 1px;
margin-bottom: 15px;
font-family: arial;
border-color: rgb(10, 102, 194);;

}

.joker{
 /*
  width: 40px;
  
  padding-bottom: 0;
  margin-bottom: 0;
  border-width: 2px;
  border-color: rgb(255, 0, 43);
  border-style: solid;
  margin-top: 40px;
  object-position: bottom;
  object-fit: contain;
  border-radius: 20px;

  */
   width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;


}

.joker-text{

  font-size: 19px;
  border-style: none;


  



}

.twt{
    color: white;
  background-color: rgb(10, 102, 194);
font-size: 18px;
padding: 6px 20px;
border-radius: 40px;
border-style: solid;
border-width: 1px;
font-family: arial;
border-color: rgb(10, 102, 194);;
}


.shadow{
  border: 1px solid lightgray;
  display: inline-block;
 padding-left: 7px;
 padding-right: 7px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px black;
  



  
}