
.sub-btn{
    background-color: rgb(200, 0,0);
    color:white;
    border: none;
    height: 35px;
    width: 90px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.5s;
  
  }
.sub-btn:hover{
opacity: 0.7;

}
.sub-btn:active{
  opacity: 0.5;
}

  .join-btn{

    background-color: white;
    color:rgb(44, 44, 150);;
border-color: rgb(65, 65, 159);
border-style: solid;
border-width: 1px;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  transition: backgound-color 0.15s ,color 0.15s;
  

  }
  .join-btn:hover{
    background-color: rgb(15, 167, 227);
    color: white;
    border-color: rgb(15, 167, 227);;
  }

  .join-btn:active{
    opacity: 0.7;
  }



  .tweet-btn{
    background-color: rgb(15, 167, 227);
    border-radius: 18px;
    text-decoration: solid;
    color: white;
padding-top: 10px;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 11px;
border-color:rgb(15, 167, 227);
border-width: 1px;
cursor: pointer;
border-style: solid;
font-weight: bold;
font-size: 10px;

margin-left: 8px;
transition: box shadow 0.5s;


  }

.tweet-btn:hover{

box-shadow: 5px 5px 10px rgba(0,0,0,0.14);
}

