 P{

      font-family: arial;
      margin: 0;
      margin-bottom: 0;
      
     
  }

.video-title{
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  line-height: 26px;
  margin-bottom: 5px;
}

.view{
margin-bottom: 20px;
color: gray;
font-weight: lighter;
font-size: 10px;
opacity: 0.9;

}

.text-one{
 font-size: 12px;
color: gray;
font-size: 12px;

}

.text{
  font-weight: lighter;
  width: 300px;
  color: black;
  margin-bottom: 60px;

  
}
.footer{
  margin-bottom: 50px;
  font-size: 14px;
    background-color: rgb(277,64,65);
color: white;
text-align: center;
padding-top: 18px;
padding-bottom: 18px;
cursor: pointer;


}


span{
    margin-bottom: 50px;
  font-size: 14px;
    background-color: rgb(277,64,65);
color: white;
  
}
span:hover{
  text-decoration: underline;
  cursor: pointer;
}

.shop-link{
  cursor: pointer;  margin-left: 2px;


}

.shop-link:hover{
  text-decoration: underline;

}
