

    .video-grid{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 12px;
      row-gap: 20px
      ;
      
    }
    
    .thumbnail{
      width: 100%;
  
  }



  .joker{
    width: 200px;
    object-position: center;
    border-radius: 100px;
  }

  .video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 14px;

  }

  .video-info-grid{

    display: grid;
    grid-template-columns: 50px 1fr;

  }


.profile-picture{
  width: 40px;
  border-radius: 25px;


}
.thumbnail-row{
margin-bottom: 12px;
}

.video-author{
  margin-bottom: 4px;
}



.video-author,.second-info,.video-stats{
    font-size: 12px;
 color:  rgb(96, 96, 96);
 

}



